  <div class="container" style="padding-top:60px">
        <div class="row">
            <section class="main col-md-9">
                <article>
                    <h2>Darsh Chirag Padaria</h2>
                    <p>Hi, My name is Darsh Chirag Padaria</p>
                    <p>I am currently enrolled in Computer Programming and Analysis at seneca College.</p>
                    <p>My interest are reading,travelling and learning new stuff.</p>
                </article>
            </section>
            <aside class="col-md-3">
                <h2>Coming Soon</h2>
                <p>Thank you! Stay tuned for further updates.</p>
            </aside>
        </div>
    </div>